
    <div class="card_container">
        <div>
            <span [ngClass]="{opened:card.opened}">
                {{ card.opened ? "Aberto" : "Fechado" }}
            </span>
        </div>
        <div>
            <h1>{{ card.title }}</h1>
        </div>      
            <p [innerHTML]="card.content"> </p>
        <ul class="container_ul_img">
            <img *ngIf="card.mask" [src]="'/assets/img/' + card.mask + '-mask.png'"/>
            <img *ngIf="card.towel" [src]="'/assets/img/' + card.towel + '-towel.png'"/>
            <img  *ngIf="card.foutain" [src]="'/assets/imgpng/' + card.foutain + '-fountain.png'"/>
            <img *ngIf="card.locker_room" [src]="'/assets/img/' + card.locker_room + '-lockerroom.png'"/>
        </ul>
        <ul class="container_ul_hours">
            <li *ngFor="let schedule of card.schedules">
                <b>{{schedule.weekdays}}
                </b>
                <p>{{schedule.hour}}</p>
            </li>
         </ul>
    </div>

