<form [formGroup]="formGroup">
    <section class="form_container">
        <div>
            <p><span>icone aqui </span> Horário</p>
        </div>
        <div class="">
            <h3>Qual período quer treinar?</h3>
            <div class="time_container">
                <div class="time_input_container">
                    <input type="radio" formControlName="hour" name="hour" value="morning">
                    <label for="morning">Manhã</label>
                </div>
                <div class="time_text_container">
                    <p>06:00 às 12:00</p>
                </div>
            </div>
            <div class="time_container">
                <div class="time_input_container">
                    <input type="radio" formControlName="hour" name="hour" value="afternoon">
                    <label for="afternoon">Tarde</label>
                </div>
                <div class="time_text_container">
                    <p>12:01 às 18:00</p>
                </div>
            </div>
            <div class="time_container">
                <div class="time_input_container">
                    <input type="radio" formControlName="hour" name="hour" value="night">
                    <label for="night">Noite</label>
                </div>
                <div class="time_text_container">
                    <p>18:01 às 23:00</p>
                </div>
            </div>
            <div class="time_container mt">
                <div class="time_input_container">
                    <input type="checkbox" name="showClosed" id="showClosed" formControlName="showClosed">
                    <label for="showClosed">Exibir unidades fechadas</label>
                </div>
                <div class="time_text_container">
                    <p>Resultados encontrados: <span>{{filteredResults.length}}</span></p>
                </div>
            </div>
            <div class="time_button_container">
                <div>
                    <button type="button" class="color-yellow" (click)="onSubmit()">ENCONTRAR UNIDADE</button>
                </div>
                <div>
                    <button type="button" class="color-w" (click)="onClean()">LIMPAR</button>
                </div>
            </div>
        </div>
    </section>
</form>