<form action="">
    <section class="form_container">
        <div>
            <p><span>icone aqui </span> Horário</p>
        </div>
        <div class="">
            <h3>Qual período quer treinar?</h3>
            <div class="time_container">
                <div class="time_input_container">
                    <input type="radio" name="morning" id="morning">
                    <label for="morning">Manhã</label>
                </div>
                <div class="time_text_container">
                    <p>06:00 às 12:00</p>
                </div>
            </div>
            <div class="time_container">
                <div class="time_input_container">
                    <input type="radio" name="after" id="after">
                    <label for="after">Tarde</label>
                </div>
                <div class="time_text_container">
                    <p>12:01 às 18:00</p>
                </div>
            </div>
            <div class="time_container">
                <div class="time_input_container">
                    <input type="radio" name="nigth" id="nigth">
                    <label for="nigth">Noite</label>
                </div>
                <div class="time_text_container">
                    <p>18:01 às 23:00</p>
                </div>
            </div>
            <div class="time_container mt">
                <div class="time_input_container">
                    <input type="checkbox" name="open-close" id="open-close">
                    <label for="open-close">Exibir unidades fechadas</label>
                </div>
                <div class="time_text_container">
                    <p>Resultados encontrados: <span> 0</span></p>
                </div>
            </div>
            <div class="time_button_container">
                <div>
                    <button class="color-yellow">ENCONTRAR UNIDADE</button>
                </div>
                <div>
                    <button class="color-w">LIMPAR</button>
                </div>
            </div>
        </div>
    </section>
</form>